<form  action="/students" method="post">
  <label for="first-name">First Name:</label>
  <input type="text" id = "first-name" name="first_name" value="">
  <label for="second-name">Second Name:</label>
  <input type="text" id = "second-name" name="first_name" value="">

  <label for="house">House:</label>
<select id= "house" name="house">
  <option value="Gryffindor">Gryffindor</option>
  <option value="Slytherin">Slytherin</option>
  <option value="HufflePuff">HufflePuff</option>
  <option value="RavenClaw">RavenClaw</option>
</select>

  <label for="age">Age:</label>
  <input type="number" id = "age" name="age" value="">

<input type="submit" value="create student">
</form>
